.container{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    width: 40%;
    margin: auto;
}
.box1.box_1{
    width: 40%;
    margin: auto;
}
.box1 img{
    width: 40%;
    margin: auto ;
}